[user]
	name = tomkenta
	email = tomkenta2014@gmail.com
[alias]
	st = status
	lg = log
	# 一行で表示する
	lgo = log --oneline
	# 特定のファイルのログを表示する
	lgp = log -p
	lg-show-author = log --pretty=full
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	# 上の省略形
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	st = status
	sts = status -s
	stsb = status -sb
	cm = commit
	cmm = commit -m
	cmam = commit -am
	cmamd = commit --amend
	cmamdm = commit --amend -m
	br = branch
	co = checkout
	# Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
	stt = status -uno
	# 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
	difff = diff --word-diff
	diffc = diff --cached
	diffno = diff --name-only
	merge-dry = merge --no-commit --no-ff
	subtree-ls = !"git log | grep git-subtree-dir |  awk '{ print $2}'"
	submoulde-ls = !"git config --file .gitmodules --get-regexp path | awk '{ print $2}'"
	remote-open = !"git remote -v | awk '{ print $2}' | peco | xargs open"
	root = rev-parse --show-toplevel
	root-cd = !"cd $(git rev-parse --show-toplevel)"
	restores = restore --staged
	restore-all = !"git sts | awk '{print $2}' | xargs git restore --staged "
[color]
	ui = auto
[core]
	editor = vim
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff "xlsx"]
	binary = true
	textconv = $GOPATH/bin/git-xlsx-textconv
[ghq]
	root = ~/workspace
	root = ~/work/src
[hub]
	protocol = https
